@import "src/styles/variables";
.textField{
  width: 100%;
  .label{
    margin-bottom: 10px;
  }
  .input{
    border: 2px solid rgba(151, 151, 151, 0.23);
    padding: 10px 15px;
    width: 100%;
    border-radius: 3px;
    transition: 100ms all ease-in;
    font-family: $font-family-main;
    &::placeholder{
      color: gray;
    }
    &:focus{
      border: 2px solid $primary;
    }
  }

}