@import "src/styles/variables";

.container{
  max-width: $container-width;
  padding: 100px $container-sides-padding;
  margin: auto;

  @media only screen and (max-width: 520px){
    max-width: none;
    padding: 100px 0;
  }
}
.form{
  width: 500px;
  max-width: 90%;
  margin: auto;
  background-color: white;
  border-radius: 3px;
  padding: 70px 50px;

  @media only screen and (max-width: 520px){
    width: 100%;
    max-width: 100%;
  }
  h2{
    text-align: center;
    font-size: 29px;
    margin-bottom: 30px;
  }
}
.input{
  margin-bottom: 20px;
}
.btnSubmit{
  margin-top: 40px;
  height: 48px;
}