@import "src/styles/variables";

.btn{
  padding: 7px 12px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  font-family: $font-family-main;
  transition: 100ms all ease-in-out;
  white-space: nowrap;
  cursor: pointer;
  &:disabled{
    cursor: not-allowed;
    background-color: #d9d9d9;
    border: 2px solid #d9d9d9 ;
    color: grey;
    &:hover{
      background-color: #d9d9d9;
      border: 2px solid #d9d9d9 ;
      color: grey;
    }
  }
}
.secondaryBtn{
  background-color: $primary;
  color: white;
  border: 1px solid $primary;
  &:hover{
    background-color: white;
    color: $primary;
  }
}
.primaryBtn{
  background-color: white;
  color: $primary;
  border: 1px solid $primary;
  &:hover{
    background-color: $primary;
    color: white;
  }
}